1. Шрифт заголовка. Додати прозорість. 
1а. Емблема.
2. Соц.значки. Додати прозорості і зменшити.
3. Пункти меню: Новини, Галерея, Митці, Про нас(робоча назва), Контакти.
4. Вставити емблему.
5. Для галереї треба продумати сортування і фільтри. 
6. Структура 1 запису в галереї (див. Розетку). Ескіз, автор, ціна, статус, жанр, відгуки. Кнопки: Обговорити замовлення.
7. Структрура 1 новини. Заголовок, автор, дата, контент, коментарі - основна. Ескіз - основна (контент 50 символів).
8. Структура 1 запису про митця. Імя, фотка, біографія, лента з роботами, кнопка Дивитися в галереї.

