/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1050px) {
  .base-header .container .a-wrap, .base-header .container .logo-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }  
}

/* Small Devices, Tablets */


/* Extra Small Devices, Phones */

@media only screen and (max-width: 767px) {  
  .base-header .container .a-wrap, .base-header .container .logo-wrap {
    padding-left: 8px;
    padding-right: 8px;
  }  
}
@media only screen and (max-width: 610px) {
  
  .toggle_mnu{
    display: block;
  }
  .base-header .container .a-wrap {
    display: none;
  }
  .base-header .container nav ul:nth-child(1) {
    display: block;
    float: left;
    padding-left: 20px;
}
  .base-header .container nav ul:nth-child(1) li:nth-child(1) {
    display: block;
    float: left;
    padding-left: 20px;
    margin: 0 auto;
  }
  
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 410px) {
  

}

/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
